@import "global";
.wrapper {
  .container__main {
    max-width: 1400px;
    max-height: 850px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 30px 10px;
    .container__Course {
      width: 1200px;
      display: flex;
      flex-direction: column;
    }
    .left {
      width: 74%;
      overflow-y: auto;
    }
    .right {
      width: 25%;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 20px;
      background: #fff;
      h3 {
        text-align: center;
        margin: 20px 0;
      }
      .list__video {
        padding-right: 5px;
        overflow-y: scroll;

        a {
          text-decoration: none;
          border-radius: 5px;
          padding: 10px;
          box-sizing: border-box;
          background: $tertiary-color;
          width: 100%;
          height: auto;
          display: block;
          margin-bottom: 10px;

          p {
            color: $primary-color;
            font-size: 16px;
            font-weight: bold;
          }
          span {
            color: $secondary-color;
            font-size: 16px;
          }
        }
      }
    }
  }
}
